@import 'tailwindcss';

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: #dc2626;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #fecaca;
  transition: all 0.2s;
}

.prose :where(a):not(:where([class~="not-prose"] *)):hover {
  color: #b91c1c;
  border-bottom-color: #dc2626;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.2;
  font-weight: 600;
  font-family: var(--font-playfair), serif;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.4;
  font-weight: 600;
  font-family: var(--font-playfair), serif;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--font-playfair), serif;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


